li {
    border: 2px solid powderblue;
    margin: 50px;
}
img{
    max-width: 30%;
    height: auto;
    margin-left: 0%;
}

.img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.centered{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
